## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [1]:
import pandas as pd

pd.set_option('display.precision', 2)
df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,gggg,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [2]:
# View the column names in the data

df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [3]:
# Use the describe function to gather some basic statistics
# View the column names in the data

print(df.describe())

       client_id  order_id  order_week  order_year  unit_price  unit_cost  \
count   54639.00  5.46e+04    54639.00    54639.00    54639.00   54639.00
mean    54837.87  5.47e+06       11.36     2022.99      136.27      99.45
std     25487.44  2.60e+06        7.02        0.08      183.87     133.16
min     10033.00  1.00e+06        1.00     2022.00        0.01       0.01
25%     33593.00  3.20e+06        6.00     2023.00       20.80      14.84
50%     53305.00  5.50e+06       11.00     2023.00       68.31      49.89
75%     78498.00  7.73e+06       17.00     2023.00      173.16     125.57
max     99984.00  1.00e+07       52.00     2023.00     1396.23     846.27

       unit_weight       qty  line_number
count     54639.00  5.46e+04     54639.00
mean          5.00  5.70e+02         2.98
std           5.33  1.88e+04         2.44
min           0.00  0.00e+00         0.00
25%           1.45  3.20e+01         1.00
50%           3.24  6.80e+01         3.00
75%           6.89  1.70e+02         5.00
max          46.43  3.96e+06         9.00

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.

print(df.info)

<bound method DataFrame.info of            first       last                      job               phone  \
0         Donald       gggg             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number
0                1
1                0
2                6
3                3
4                1
...            ...
54634            8
54635            0
54636            6
54637            0
54638            5

[54639 rows x 18 columns]>

In [5]:
df.sample

<bound method NDFrame.sample of            first       last                      job               phone  \
0         Donald       gggg             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number
0                1
1                0
2                6
3                3
4                1
...            ...
54634            8
54635            0
54636            6
54637            0
54638            5

[54639 rows x 18 columns]>

In [6]:
df.dtypes

first           object
last            object
job             object
phone           object
email           object
client_id        int64
order_id         int64
order_date      object
order_week       int64
order_year       int64
item_id         object
category        object
subcategory     object
unit_price     float64
unit_cost      float64
unit_weight    float64
qty              int64
line_number      int64
dtype: object

In [7]:
df.nunique

<bound method DataFrame.nunique of            first       last                      job               phone  \
0         Donald       gggg             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number
0                1
1                0
2                6
3                3
4                1
...            ...
54634            8
54635            0
54636            6
54637            0
54638            5

[54639 rows x 18 columns]>

In [8]:
# What three item categories had the most entries?
display(df['category'].value_counts().head(3))

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [9]:
## Example Output
""" subcategory
bathroom supplies    6424
Name: count, dtype: int64 """

# For the category with the most entries, which subcategory had the most entries?
display(df.subcategory.value_counts().head(1))

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [10]:
## Example Output
""" client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64 """

# Which five clients had the most entries in the data?

display(df['client_id'].value_counts().nlargest(5))

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [11]:
## Example Output
""" [33615, 66037, 46820, 38378, 24741] """

# Store the client ids of those top 5 clients in a list.
top5ids=df['client_id'].value_counts().head(5).index.to_list()

display(top5ids)

[33615, 66037, 46820, 38378, 24741]

In [12]:
## Example Output
""" 64313 """

#find the client with most entries
#print(df['client_id'].value_counts().nlargest(1))

# How many total units (the qty column) did the client with the most entries order?
display(df.loc[df['client_id'] == 33615, 'qty'].sum())

64313

In [13]:
#do a dataframe loc wrapper around a dataframe with client_id that equals the client with the most entries, then sum their qty column

df.loc[df['client_id'] == 33615, 'qty'].sum()

64313

In [14]:
#do a dataframe loc wrapper around a dataframe with a lambda statement where x equals  the client with the most entries, then sum their qty column
df[df['client_id'].apply(lambda x: x == 33615)]['qty'].sum()

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [ ]:
# Example
#	 unit_price	qty	line_subtotal
# 0	 1096.80	105	115164.00
# 1  24.95	    21	523.95

# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['line_subtotal'] = df.apply(lambda row: row['unit_price'] * row['qty'], axis=1)
display(df[['unit_price','qty','line_subtotal']].head())

   unit_price  qty  line_subtotal
0     1096.80  105      115164.00
1       24.95   21         523.95
2       13.52   39         527.28
3       36.42   29        1056.18
4      195.10   20        3902.00

In [16]:
# Example
#	unit_price	unit_weight	qty	total_weight	shipping_price
# 0	1096.80	7.50	105	787.50	5512.50
# 1	24.95	1.49	21	31.29	312.90
# 2	13.52	1.68	39	65.52	458.64
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.

df['shipping_price'] = df.apply(lambda row: row["unit_weight"] * row["qty"] * 7 if row["unit_weight"] * row["qty"] > 50 else row["unit_weight"] * row["qty"] * 10, axis=1)
df['total_weight'] = df.apply(lambda row: row["unit_weight"] * row["qty"], axis=1)
display(df[['unit_price','unit_weight','qty','total_weight','shipping_price']].head())

   unit_price  unit_weight  qty  total_weight  shipping_price
0     1096.80         7.50  105        787.50         5512.50
1       24.95         1.49   21         31.29          312.90
2       13.52         1.68   39         65.52          458.64
3       36.42         1.23   29         35.67          356.70
4      195.10        46.43   20        928.60         6500.20

In [17]:
# Example
#	line_subtotal	shipping_price	line_price
#0	115164.00	5512.50	131839.08
#1	523.95	312.90	914.26
#2	527.28	458.64	1077.12

tax_rate=1.0925
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df["total_price"] = (df["line_subtotal"] + df["shipping_price"]) * tax_rate
display(df[["line_subtotal","shipping_price","total_price"]].head())

   line_subtotal  shipping_price  total_price
0      115164.00         5512.50    131839.08
1         523.95          312.90       914.26
2         527.28          458.64      1077.12
3        1056.18          356.70      1543.57
4        3902.00         6500.20     11364.40

In [18]:
#Example
#first	last	job	phone	email	client_id	order_id	order_date	order_week	order_year	...	unit_price	unit_cost	unit_weight	qty	line_number	line_subtotal	total_weight	shipping_price	line_price	line_cost
#0	Donald	Harding	Immunologist	793-904-7725x39308	harding.donald.7185@sullivan.com	58515	8953482	2023-04-28	17	2023	...	1096.80	762.71	7.50	105	1	115164.00	787.50	5512.50	131839.08	85597.05
#1	Tiffany	Myers	Music therapist	201.442.4543x942	myers.t.6537@ferguson-johnson.net	37609	8069089	2023-05-19	20	2023	...	24.95	15.09	1.49	21	0	523.95	31.29	312.90	914.26	629.79
#2	Shannon	Watson	Immunologist	687.737.9424x8503	swatson8146@payne.net	57113	1902144	2023-01-29	4	2023	...	13.52	7.86	1.68	39	6	527.28	65.52	458.64	1077.12	765.18

# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df["line_cost"] = (df["unit_cost"] * df["qty"] + df["shipping_price"])
# Display the values for 'qty','cost', 'unit_cost', and 'shipping_price' columns for all rows
display(df[["qty","client_id","unit_cost","line_subtotal","shipping_price","line_cost"]].head())

   qty  client_id  unit_cost  line_subtotal  shipping_price  line_cost
0  105      58515     762.71      115164.00         5512.50   85597.05
1   21      37609      15.09         523.95          312.90     629.79
2   39      57113       7.86         527.28          458.64     765.18
3   29      46554      24.85        1056.18          356.70    1077.35
4   20      92089     108.17        3902.00         6500.20    8663.60

In [19]:
# Create a column for the profit of each line using line cost and total price
df['line_profit'] = df['total_price'] - df['line_cost']
df['total_profit'] = df['line_profit'] * df['qty']
# Display the values for 'qty' ,'unit_profit', and 'shipping_price' columns for all rows
display(df[['qty','client_id','total_price','line_cost','line_profit','shipping_price']].head())

   qty  client_id  total_price  line_cost  line_profit  shipping_price
0  105      58515    131839.08   85597.05     46242.03         5512.50
1   21      37609       914.26     629.79       284.47          312.90
2   39      57113      1077.12     765.18       311.94          458.64
3   29      46554      1543.57    1077.35       466.22          356.70
4   20      92089     11364.40    8663.60      2700.80         6500.20

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [20]:
# Check your work using the totals above
order_id = [2742071, 2173913, 6128929]  # Define the variable "order_id" with the desired values

def find_order_price(order_id):
    order_lines_df = df.loc[df['order_id'] == order_id, 'total_price']
    formatted_number = "{:.2f}".format(order_lines_df.sum())
    return formatted_number

for order_id in order_id:
    display(f"Order {order_id} total: ${find_order_price(order_id)}")

'Order 2742071 total: $152811.90'

'Order 2173913 total: $162388.72'

'Order 6128929 total: $923441.24'

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [21]:
#Example
#33615: $8377308.52
#66037: $10259514.79
#46820: $9743794.36
#38378: $12906550.87
#24741: $82268892.02

# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
def client_totals(client_id, total_price):
    client_df = df.loc[df['client_id'] == client_id, total_price]
    formatted_number = "{:.2f}".format(client_df.sum())
    return formatted_number

for client_id in top5ids:
    display(f"{client_id}: ${client_totals(client_id, 'total_price')}")

'33615: $8377308.57'

'66037: $10259514.80'

'46820: $9743794.32'

'38378: $12906550.88'

'24741: $82268891.98'

In [22]:
#Example
#client_id	qty	shipping_price	line_price	line_cost	line_profit
#0	33615	64313	1828984.89	8377308.52	6175313.91	2201994.61
#1	66037	43018	1395151.85	10259514.79	7004482.98	3255031.81
#2	46820	75768	1601448.84	9743794.36	7007191.64	2736602.72
#3	38378	73667	3429455.40	12906550.87	9634720.98	3271829.89
#4	24741	239862	5126448.37	82268892.02	45688899.71	36579992.31

# Create a summary DataFrame showing the totals for 
# the top 5 clients with the following information:
# total units purchased, total shipping price, total 
# revenue, and total profit. Sort by total profit.

# Using Aggregate **************************************************
df_filtered = df[df['client_id'].isin(top5ids)]

# Aggregate data by client_id
aggregated_df = df_filtered.groupby('client_id').agg({
    'qty': 'sum',
    'shipping_price': 'sum',
    'total_price': 'sum',    
    'line_profit': 'sum'
}).reset_index()

# Rename the columns for clarity
aggregated_df.columns = ['Client ID', 'Total Units Purchased', 'Total Shipping Price', 'Total Revenue', 'Total Profit']
# Convert Total Revenue and Total Profit to formatted string values with $ and commas
aggregated_df['Total Revenue'] = aggregated_df['Total Revenue'].apply(lambda x: f"${x:,.2f}")
aggregated_df['Total Profit'] = aggregated_df['Total Profit'].apply(lambda x: f"${x:,.2f}")


# Sort the aggregated data by 'total_profit' from highest to lowest
sorted_aggregated_df = aggregated_df.sort_values(by='Total Profit', ascending=False)

# Display the sorted DataFrame
display(sorted_aggregated_df)

,Client ID,Total Units Purchased,Total Shipping Price,Total Revenue,Total Profit
0,24741,239862,5.13e+06,"$82,268,891.98","$36,579,992.27"
2,38378,73667,3.43e+06,"$12,906,550.88","$3,271,829.90"
4,66037,43018,1.40e+06,"$10,259,514.80","$3,255,031.82"
3,46820,75768,1.60e+06,"$9,743,794.32","$2,736,602.68"
1,33615,64313,1.83e+06,"$8,377,308.57","$2,201,994.66"

In [23]:
#Example
#Client ID	Units	Shipping (millions)	Total Revenue (millions)	Total Cost (millions)	Total Profit (millions)
#0	33615	64313	1.828985	8.377309	6.175314	2.201995
#1	66037	43018	1.395152	10.259515	7.004483	3.255032
#2	46820	75768	1.601449	9.743794	7.007192	2.736603
#3	38378	73667	3.429455	12.906551	9.634721	3.271830
#4	24741	239862	5.126448	82.268892	45.688900	36.579992

df_filtered = df[df['client_id'].isin(top5ids)]

# summary data by client_id
summary_df = df_filtered.groupby('client_id').agg({
    'qty': 'sum',
    'shipping_price': 'sum',
    'total_price': 'sum', 
    'line_cost': 'sum',   
    'line_profit': 'sum'
}).reset_index()

# Rename the columns
summary_df.rename(columns={
'client_id':'Client ID',
'qty':'Units',
'shipping_price':'Total Shipping (millions)',
'total_price':'Total Revenue (millions)',
'line_cost':'Total Cost (millions)',
'line_profit':'Total Profit (millions)'
}, inplace=True)

#List of columns that needs reformat of amounts
columns_to_mod = ['Total Shipping (millions)', 'Total Revenue (millions)', 'Total Cost (millions)', 'Total Profit (millions)']

for column in columns_to_mod:
    summary_df[column] = round(summary_df[column]/1000000, 2)
    summary_df[column] = summary_df[column].apply(lambda x: f'${x:.2f}M')

# Display the sorted DataFrame
display(summary_df)

,Client ID,Units,Total Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
0,24741,239862,$5.13M,$82.27M,$45.69M,$36.58M
1,33615,64313,$1.83M,$8.38M,$6.18M,$2.20M
2,38378,73667,$3.43M,$12.91M,$9.63M,$3.27M
3,46820,75768,$1.60M,$9.74M,$7.01M,$2.74M
4,66037,43018,$1.40M,$10.26M,$7.00M,$3.26M

In [24]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
sorted_summary_df = summary_df.sort_values(by='Total Profit (millions)', ascending=False)

display(sorted_summary_df) # this will print the sorted summary DataFrame

,Client ID,Units,Total Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
0,24741,239862,$5.13M,$82.27M,$45.69M,$36.58M
2,38378,73667,$3.43M,$12.91M,$9.63M,$3.27M
4,66037,43018,$1.40M,$10.26M,$7.00M,$3.26M
3,46820,75768,$1.60M,$9.74M,$7.01M,$2.74M
1,33615,64313,$1.83M,$8.38M,$6.18M,$2.20M

In [25]:
# Write a brief 2-3 sentence summary of your findings.

# Pandas is a go-to library in Python for anyone working with data, offering
# efficient tools for data manipulation and analysis. Its DataFrame structure
# makes it easy to load, filter, and analyze large datasets, simplifying complex
# workflows. Plus, it works well with lists and dictionaries, giving users 
# flexibility and ease when transforming data.